#header {
  position: relative;
}
#header .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
#header .logo img {
  display: block;
  width: 100%;
}
#header .go {
  color: #FFF;
  text-transform: uppercase;
  font-size: 53px;
  background: #6fd85b;
  display: inline-block;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#header .login {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 31px;
}
#header .login label, #header .login input, #header .login a, #header .login form {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: auto;
  margin: 0;
  margin-right: 20px;
}
#header .login form {
  margin-right: 0;
}

.header-steps {
  margin: 80px 0 40px;
}
.header-steps span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 40px;
  padding: 37px 20px;
  border: 1px solid grey;
  display: block;
}
.header-steps .active span {
  background: #6fd85b;
  border-color: #6FD85B;
  color: #FFF;
}

.first-step {
  text-align: center;
  margin: 40px 0;
}
.first-step form {
  *zoom: 1;
}
.first-step form:after {
  content: "";
  display: table;
  clear: both;
}
.first-step select {
  float: left;
  margin-right: 50px;
}
.first-step label {
  text-align: left;
}
.first-step label .columns {
  padding-left: 0;
}
.first-step .submit-container input {
  height: 37px;
}
.first-step .button {
  margin: auto;
}

.thecond-step {
  margin: 40px 0;
}

.third-step {
  margin: 40px 0;
}
.third-step .participants .columns {
  margin-bottom: 20px;
}
.third-step .socials {
  margin-bottom: 40px;
}
.third-step .map {
  margin-bottom: 40px;
}
.third-step .news .columns:first-child {
  padding: 0;
}
