body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid black;
  box-shadow: none;
  border-radius: 0;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

input:invalid {
  box-shadow: none;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 0.5;
}
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"]::-ms-clear {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.content, #content {
  font-size: 16px;
  line-height: 26px;
  word-break: break-word;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin-bottom: 25px;
}
.content h1, #content h1 {
  font-size: 40px;
  line-height: 45px;
}
.content h2, #content h2 {
  font-size: 35px;
  line-height: 40px;
}
.content h3, #content h3 {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 35px;
}
.content h4, #content h4 {
  font-size: 25px;
  line-height: 30px;
}
.content h5, #content h5 {
  font-size: 20px;
  line-height: 25px;
}
.content h6, #content h6 {
  font-size: 15px;
  line-height: 20px;
}
.content p, #content p {
  margin-top: 25px;
  margin-bottom: 25px;
}
.content ul, #content ul {
  list-style: disc inside;
  margin-left: 26px;
  margin-bottom: 26px;
}
.content ol, #content ol {
  list-style: decimal inside;
  margin-left: 26px;
  margin-bottom: 26px;
}
.content ul.links-list, .content ol.links-list, #content ul.links-list, #content ol.links-list {
  clear: both;
  margin-left: 0;
  margin-top: 65px;
  margin-bottom: 60px;
}
.content i,
.content em, #content i,
#content em {
  font-style: italic;
}
.content strong,
.content b, #content strong,
#content b {
  font-weight: bold;
}
.content blockquote, #content blockquote {
  margin-left: 60px;
  font-style: italic;
}
.content blockquote p, #content blockquote p {
  text-align: left;
}
.content sup, .content sub, #content sup, #content sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.content sup, #content sup {
  top: -0.5em;
}
.content sub, #content sub {
  bottom: -0.25em;
}
.content a, #content a {
  color: blue;
  text-decoration: underline;
}
.content a:hover, #content a:hover {
  text-decoration: none;
}
.content table, #content table {
  border: 2px solid black;
  width: 100%;
}
.content table th, #content table th {
  text-align: center;
  font-weight: bold;
}
.content table td,
.content table th, #content table td,
#content table th {
  padding: 2px;
}
.content table td.numeric,
.content table th.numeric, #content table td.numeric,
#content table th.numeric {
  text-align: right;
}
.content table th, .content table td, #content table th, #content table td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-top-width: 0;
}
.content table th:last-child, .content table td:last-child, #content table th:last-child, #content table td:last-child {
  border-right-width: 0;
}
.content table th.last, .content table td.last, #content table th.last, #content table td.last {
  border-right-width: 0;
}
.content table tbody tr:last-child th, .content table tbody tr:last-child td, .content table tfoot tr:last-child th, .content table tfoot tr:last-child td, #content table tbody tr:last-child th, #content table tbody tr:last-child td, #content table tfoot tr:last-child th, #content table tfoot tr:last-child td {
  border-bottom-width: 0;
}
.content table tbody tr.last th, .content table tbody tr.last td, .content table tfoot tr.last th, .content table tfoot tr.last td, #content table tbody tr.last th, #content table tbody tr.last td, #content table tfoot tr.last th, #content table tfoot tr.last td {
  border-bottom-width: 0;
}
.content table thead th, #content table thead th {
  border-bottom: 2px solid black;
}
.content table tfoot th, .content table tfoot td, #content table tfoot th, #content table tfoot td {
  border-top: 2px solid black;
}
.content table th:first-child, #content table th:first-child {
  border-right: 2px solid black;
}
.content th, #content th {
  text-align: left;
}
.content img, #content img {
  max-width: 100%;
  height: auto;
}
.content dl, #content dl {
  margin-bottom: 26px;
}
.content dt, #content dt {
  font-weight: 700;
}
.content dd, #content dd {
  margin-bottom: 26px;
}

#content {
  max-width: 848px;
  margin: 30px auto 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 767px) {
  #content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#content span.h3 {
  font-weight: bold;
}
#content #signup-welcome p {
  margin-bottom: 0;
}
#content #signup-welcome p + p {
  margin-top: 0;
}

.content .alignnone {
  margin: 35px 0;
}
.content img.alignnone {
  display: inline-block;
  vertical-align: middle;
}
.content .aligncenter {
  display: block;
  margin: 0 auto 25px;
}
.content .alignright {
  float: right;
  margin: 0 0 35px 35px;
}
.content .alignleft {
  float: left;
  margin: 0 35px 35px 0;
}
.content .wp-caption-text {
  margin-top: 15px;
  width: 100%;
}
.content .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 100%;
}
.content .wp-caption img {
  display: block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.content .wp-caption p.wp-caption-text {
  margin: 0;
  padding: 5px;
  background: #ebe7e4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.content .wp-video {
  max-width: 100%;
  width: auto !important;
}
.content .wp-video .mejs-container,
.content .wp-video .mejs-layer {
  width: auto;
  height: auto;
  max-width: 100%;
}
.content .wp-video .mejs-container .mejs-controls {
  right: 0;
}

.admin-bar #wpadminbar {
  opacity: 0.7;
  width: 32px;
  height: 32px;
  overflow: hidden;
  min-width: 0;
  -moz-transition: width 0s 1s, opacity 0.3s 0s;
  -o-transition: width 0s 1s, opacity 0.3s 0s;
  -webkit-transition: width 0s, opacity 0.3s;
  -webkit-transition-delay: 1s, 0s;
  transition: width 0s 1s, opacity 0.3s 0s;
}
@media only screen and (max-width: 767px) {
  .admin-bar #wpadminbar {
    display: none;
  }
}
.admin-bar #wpadminbar:hover {
  opacity: 1;
  width: 100%;
  overflow: visible;
  -moz-transition: width 0s 0s, opacity 0.3s 0s;
  -o-transition: width 0s 0s, opacity 0.3s 0s;
  -webkit-transition: width 0s, opacity 0.3s;
  -webkit-transition-delay: 0s, 0s;
  transition: width 0s 0s, opacity 0.3s 0s;
}
.admin-bar #wpadminbar .slider {
  width: 620px;
  height: 440px;
}

.header-steps .columns {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 40px;
  padding: 40px 20px;
}
