#header {
  position: relative;
}
#header .logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
  display: block;
  text-decoration: none;
  outline: none;
}
#header .logo img {
  display: block;
  width: 100%;
}
#header .go {
  color: #FFF;
  text-transform: uppercase;
  font-size: 53px;
  line-height: 80px;
  background: #008cba;
  display: inline-block;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
#header .go:hover {
  background: #ff9c00;
}
#header .login {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 41px;
}
#header .login label, #header .login input, #header .login a, #header .login form, #header .login .eauth {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: auto;
  margin: 0;
  margin-right: 20px;
}
#header .login form {
  margin-right: 0;
}
#header .login input[type=submit] {
  color: #008cba;
  background: transparent;
  border: none;
  outline: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
#header .login input[type=submit]:hover {
  color: #ff9c00;
}
#header .login a {
  color: #008cba;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
#header .login a:hover {
  text-decoration: none;
  color: #ff9c00;
}

.header-steps {
  margin: 80px 0 40px;
}
.header-steps span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 40px;
  padding: 37px 20px;
  border: 1px solid grey;
  display: block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
}
.header-steps .columns:hover span {
  border-color: #ff9c00;
  color: #ff9c00;
}
.header-steps .active span {
  background: #008cba;
  border-color: #008cba;
  color: #FFF;
}
.header-steps .active:hover span {
  border-color: #008cba;
  color: #FFF;
}

.button {
  background: #008cba;
}
.button:hover {
  background: #ff9c00;
  text-decoration: none;
}

.first-step {
  text-align: center;
  margin: 40px 0;
}
.first-step form {
  *zoom: 1;
}
.first-step form:after {
  content: "";
  display: table;
  clear: both;
}
.first-step select {
  float: left;
  margin-right: 50px;
}
.first-step label {
  text-align: left;
}
.first-step label .columns {
  padding-left: 0;
}
.first-step .submit-container input {
  height: 37px;
  color: #FFF;
  background: #008cba;
  border: none;
  outline: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.first-step .submit-container input:hover {
  background: #ff9c00;
}
.first-step .button {
  margin: auto;
}

.thecond-step {
  margin: 40px 0;
}

.third-step {
  margin: 40px 0;
}
.third-step .nav a {
  color: #008CBA;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.third-step .nav a:hover {
  color: #FF9C00;
}
.third-step .nav .active a:hover {
  background: #008CBA;
  color: #FFF;
}
.third-step .participants .columns {
  margin-bottom: 20px;
}
.third-step .socials {
  margin-bottom: 40px;
}
.third-step .socials .item {
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background: #008cba;
}
.third-step .socials .item:hover {
  background: #ff9c00;
  text-decoration: none;
}
.third-step .map {
  margin-bottom: 40px;
}
.third-step .news .columns:first-child {
  padding: 0;
}
