
		


.first-step
	text-align: center
	margin: 40px 0
	form
		+pie-clearfix
	select
		float: left
		margin-right: 50px
	label
		text-align: left
		.columns
			padding-left: 0
	.submit-container
		input
			height: 37px
	.button
		margin: auto