.header-steps
	margin-bottom: 40px
	span
		+border-radius(50%)
		font-size: 40px
		padding: 37px 20px  
		border: 1px solid grey 
		display: block
	.active
		span
			background: green 
			color: #FFF  
		


.first-step
	text-align: center
	margin: 40px 0
	form
		+pie-clearfix
	select
		float: left
		margin-right: 50px
	label
		text-align: left
		.columns
			padding-left: 0
	.submit-container
		input
			height: 37px
	.button
		margin: auto