#header
	position: relative
	.logo
		position: absolute
		left: 10px
		top: 10px
		width: 100px
		img
			display: block
			width: 100%
	.go
		color: #FFF
		text-transform: uppercase
		font-size: 53px
		line-height: 80px
		background: #008cba
		display: inline-block
		padding: 10px
		position: absolute
		right: 10px
		top: 10px
		+border-radius(50%)
		display: block
		border: none
		outline: none
		text-decoration: none
		cursor: pointer
		+transition(0.3s ease-out)
		&:hover
			background: #ff9c00



	.login
		text-align: center
		margin-bottom: 30px
		padding-top: 41px
		label, input, a, form
			display: inline-block
			vertical-align: middle
			text-align: left
			width: auto
			margin: 0
			margin-right: 20px
		form
			margin-right: 0
		input[type=submit]
			color: #008cba
			background: transparent
			border: none
			outline: none 
			+transition(0.3s ease-out)
			&:hover
				color: #ff9c00
		a	
			color: #008cba
			+transition(0.3s ease-out)
			&:hover
				text-decoration: none
				color: #ff9c00



.header-steps
	margin: 80px 0 40px
	span
		+border-radius(50%)
		font-size: 40px
		padding: 37px 20px  
		border: 1px solid grey 
		display: block
		+transition(0.3s ease-out)
		cursor: pointer
	.columns:hover
		span
			border-color: #ff9c00 
			color: #ff9c00 
	.active
		span
			background: #008cba
			border-color: #008cba 
			color: #FFF 
		&:hover 
			span
				border-color: #008cba 
				color: #FFF 